<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>user-registration</title>-->
<!--</head>-->
<!--<body>-->

<!--<form action="#" th:action="@{/registration}" th:object="${user}" method="post">-->
<!--    <label for="name">Name</label>-->
<!--    <input type="text" th:field="*{user.setName()}" id="name" placeholder="Name">-->
<!--    <span th:if="${#fields.hasErrors('name')}" th:errors="*{user.setName()}"></span>-->

<!--    <label for="surname">Surname</label>-->
<!--    <input type="text" th:field="*{user.setSurname()}" id="surname" placeholder="Surname">-->
<!--    <span th:if="${#fields.hasErrors('surname')}" th:errors="*{user.setSurname()}"></span>-->

<!--    <label for="username">Username</label>-->
<!--    <input type="text" th:field="*{user.setUsername()}" id="username" placeholder="Username">-->
<!--    <span th:if="${#fields.hasErrors('username')}" th:errors="*{user.setUsername()}"></span>-->

<!--    <label for="password">Password</label>-->
<!--    <input type="text" th:field="*{user.setPassword()}" id="password" placeholder="Password">-->
<!--    <span th:if="${#fields.hasErrors('password')}" th:errors="*{user.setPassword()}"></span>-->

<!--    <label for="email">Email</label>-->
<!--    <input type="text" th:field="*{user.setEmail()}" id="email" placeholder="Email">-->
<!--    <span th:if="${#fields.hasErrors('email')}" th:errors="*{user.setEmail()}"></span>-->

<!--    <label for="birthdayDate">BirthdayDate</label>-->
<!--    <input type="text" th:field="*{user.setBirthdayDate()}" id="birthdayDate" placeholder="Birthday date">-->
<!--    <span th:if="${#fields.hasErrors('birthdayDate')}" th:errors="*{user.setBirthdayDate()}"></span>-->

<!--    <label for="country">Country</label>-->
<!--    <input type="text" th:field="*{user.setCountry()}" id="country" placeholder="Country">-->
<!--    <span th:if="${#fields.hasErrors('country')}" th:errors="*{user.setCountry()}"></span>-->

<!--    <input type="submit" value="Registration">-->
<!--</form>-->

<!--</body>-->
<!--</html>-->